<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/navcity-login-style.css" />
  <link rel="stylesheet" type="text/css" href="/fontello-social/css/fontello.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300&display=swap" rel="stylesheet">
  <title>Welcome to navcity</title>
</head>
<body>

<main>
  <h1 id="navcity__header">
    <p>Welcome to</p>
    <p id="navcity__name" >Navcity</p>
  </h1>
  <div class="login">

    <div class="login__container">
      <div id="signup__id" class="hide__form">

        <form action="/api/users/add-user" th:action="@{/api/users/add-user}" th:object="${user}" class="mainAddForm" method="POST">
          <input type="text" class="inputForm" th:field="*{username}" placeholder="Email"  required><br/>
          <div class="errorDiv"><p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p></div>
          <input type="text" class="inputForm" th:field="*{firstName}" placeholder="First name"  required><br/>
          <div class="errorDiv"><p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p></div>
          <input type="text" class="inputForm" th:field="*{lastName}" placeholder="Last name" required><br/>
          <div class="errorDiv"><p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p></div>
          <input type="password" class="inputForm" th:field="*{password}" placeholder="Password"required><br/>
          <div class="errorDiv"><p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p></div><br/>
          <select class="inputForm" th:field="*{authority}" required>
            <option selected disabled value=""></option>>
            <option th:each="authority: ${authorities}"
                    th:value="${authority}"
                    th:utext="${authority}" >
            </option>
          </select><br/>
          <div class="errorDiv"><p th:if="${#fields.hasErrors('authority')}" th:errors="*{authority}"></p></div>
          <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
          <button class="submitButton" type="submit">Create account</button>
        </form>
      </div>
      <div id="login__id" class="login__form">
        <h2 id="signup__header">Login to your account </h2>
        <h3 id="signup__inner">Don't have an account? <span id="show__signup">Sing up free</span> </h3>
        <form action="/authenticateTheUser" th:action="@{/authenticateTheUser}" class="mainAddForm" method="POST">
          <span th:if="${param.error}">
              <div class="errorDiv">
                <p>Invalid username or password.</p>
              </div>
          </span>
          <span th:if="${param.logout}">
              <div class="logoutDiv">
                <p>You've been successfully logged out.</p>
              </div>
          </span>
          <br>
          <input type="text" class="inputForm" name="username" placeholder="Email"  required><br/><br/>
          <input type="password" class="inputForm" name="password" placeholder="Password"required><br/>
          <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" /><br/>
          <button class="submitButton" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</main>
<script src="/login-script.js"></script>
</body>
</html>