<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>Navcity - update car</title>
        <link rel="stylesheet" type="text/css" href="main-style.css" />
        <link rel="stylesheet" type="text/css" href="carDriverUpdate.css" />
        <link rel="stylesheet" type="text/css" href="/fontello/css/fontello.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300&display=swap" rel="stylesheet">
    </head>
    <body>

        <div class="carDriverFormContainer">

                <form action="#" style="padding-top: 50px; width: 330px; height: 240px;" th:action="@{/updateDriver}" th:object="${driver}" class="mainUpdateForm" method="POST">
                    <input type="hidden" th:name="driverId" th:value="*{id}">
                    <input type="hidden" th:field="*{id}">
                    <input type="text" class="inputForm" th:field="*{firtsName}" placeholder="First name" required><br><br>
                    <input type="text" class="inputForm" th:field="*{lastName}" placeholder="Last name" required><br><br>
                    <input type="text" class="inputForm" th:field="*{licence}" placeholder="Licence" required><br><br>
                    <div class="submitButton centerDivButton cancelDriver" onclick="window.history.back();">Cancel</div>
                    <button class="submitButton submitDriver" type="submit">Save driver</button>
                </form>
        </div>
        <div id="listOfElements" class="mainTableDiv">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Departure time</th>
                    <th>Arrival time</th>
                    <th>Departure from</th>
                    <th>Arrival to</th>
                    <th>Driver</th>
                    <th>Distance</th>
                    <th>Duration</th>
                    <th style="width: 70px;"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="route: ${listOfRoutes}">
                    <td  th:text="${route.id}"></td>
                    <td  th:text="${route.routeName}"></td>
                    <td  th:text="${route.departureDate}"></td>
                    <td  th:text="${route.arrivalDate}"></td>
                    <td  th:text="${route.departureAddress}"></td>
                    <td  th:text="${route.destinationAddress}"></td>
                    <td  th:text="${route.car.returnShortDetails()}"></td>
                    <td  th:text="${route.distance}"></td>
                    <td  th:text="${route.getLocalTimeDuration()}"></td>
                    <td>
                        <a th:href="@{/addRouteForm(routeId=${route.id})}">
                            <i class="icon-cog-1 fontelloIcon"></i>
                        </a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        <script async src="/table-script.js"></script>
    </body>